<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding class="tree">
    <div padding *ngFor="let data of userArr">
      {{data.userName}}({{data.userId}})
      <div padding class="tree">
        <ion-list *ngFor="let user1 of data.users">
          {{user1.userName}}({{user1.userId}})
          <div padding class="tree">
            <ion-list *ngFor="let user2 of user1.users">
              {{user2.userId}}
            </ion-list>
          </div>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>
